<style>
  html { height: 100%; }
  body { height: 100%; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }
  .__body__ { padding: 120px 340px 40px 340px; height:100%; background-color:#f0f0f0; overflow: auto; /* 내용이 넘칠 경우 스크롤바 표시 */ }
  
  /* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 변경 */
  @media (max-width: 768px) {
      .__body__ {
          padding: 80px 20px; /* 작은 화면에서 패딩 조정 */
      }
  }
  .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
  }
  .none {
      display:none;
  }
</style>
<div class="__header__"></div>
<div class="__body__">
  <h3><%= errorMessage %></h3>
</div>